@font-face {
  font-family: 'RiotSans';
  src: url('/static/fonts/RiotSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: hsl(24 9.8% 5%);
  color: #fff;
  font-family: 'RiotSans', sans-serif;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 700px;
  margin: auto;
  border: 2px solid #f03c6d;
  padding: 2rem;
  background-color: hsl(24 9.8% 10%);
  border-radius: 16px;
}

h1, h2 {
  color: #f03c6d;
  text-align: center;
}

label{
    padding-bottom: 5px;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input, select {
  background: hsl(24 9.8% 9%);
  color: white;
  padding: 0.7rem;
  border: 1px solid #444;
  font-family: 'RiotSans', sans-serif;
  border-radius: 6px;
}

button {
  background: #f03c6d;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #d12a5a;
}

.preview {
  margin-top: 2rem;
  text-align: center;
}

.preview img {
  max-width: 100%;
  border: 1px solid #555;
  border-radius: 8px;
}

.error-box {
  background-color: #420f1f;
  border: 1px solid #ff4f4f;
  color: #ff9999;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
}

.field-error {
  color: #ff6666;
  font-size: 0.9rem;
  margin-top: 6px;
  font-weight: 500;
}


/* Toggle Switch Styling */
.toggles {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap; /* fallback for responsiveness */
  margin-top: 0.5rem;
  flex-direction: row;
}

.toggle-option {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  border-radius: 34px;
  transition: 0.3s;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #f03c6d;
}

.switch input:checked + .slider:before {
  transform: translateX(15px);
}
